<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <section class="container-fluid" id="topSection">
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-4" id="infoUser">
                        <h1> <small> {{ 'now'|date('d - m -Y') }} </small></h1>
                    </div>
                </div>
            </section>
            <aside class="container-fluid" id="asideMenu">
                <ul>
                    {% if is_granted('ROLE_RESPONSABLE') %}
                        <h2>Statistiques :</h2>
                        <li><a>Edition de statistiques par régions</a></li>
                        <li><a>Edition de statistiques par secteur</a></li>
                        <li><a>Edition de statistiques par visiteur</a></li>

                    {% endif %}
                    {% if is_granted('ROLE_DELEGUE') %}
                        <h2>Compte-rendu :</h2>
                        <li><a>Consultation</a></li>
                        <h2>Activité complémentaire :</h2>
                        <li><a>Demande en attente de validation</a></li>
                        <li><a>Demande récentes</a></li>
                        <h2>Statistiques :</h2>
                        <li><a>Edition de statistiques par régions</a></li>
                        <li><a>Edition de statistiques par visiteur</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_VISITEUR') %}
                        <h2>Compte-rendu :</h2>
                        <li><a>Noveau</a></li>
                        <li><a>Consultation / modification</a></li>
                        <h2>Activité complémentaire :</h2>
                        <li><a>Effectuer une demande d'activité complémentaire</a></li>
                        <li><a>Derniére activité complémentaire effectué</a></li>
                        <h2>Statistiques :</h2>
                        <li><a>Edition de statistiques par visiteur</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <h2>Gestion d'utilisateurs :</h2>
                        <ul><li><a>Rechercher un utilisateur</a></li></ul>
                        <ul><li><a>Ajouter un utilisateur</a></li></ul>
                    {% endif %}
                </ul>
                <a id="logoutLink" href="{{ path('fos_user_security_logout') }}">
                    {{'Déconnexion'}}
                </a>
            </aside>
            <section class="container-fluid" id="mainContainer">
                {% block mainContainer %}
                {% endblock %}
            </section>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
